spring:
  application:
    name: PostRegistrationApp

  datasource:
    url: jdbc:postgresql://localhost:5432/postapp_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    listener:
      simple:
        acknowledge-mode: manual
        default-requeue-rejected: false
        prefetch: 1

server:
  port: 8081
