spring:
  application:
    name: PostRegistrationApp

  datasource:
    url: jdbc:postgresql://localhost:5432/postapp_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mongodb:
    uri: mongodb://localhost:27017/post_registration_app_db
    representation:
      uuid: standard

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    listener:
      simple:
        acknowledge-mode: manual
        prefetch: 10
        concurrency: 5
        retry:
          enabled: false

server:
  port: 8081
