spring:
  application:
    name: PostRegistrationApp

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    listener:
      simple:
        acknowledge-mode: manual
        default-requeue-rejected: false
        prefetch: 1

server:
  port: 8081
